
#head{
  display: flex;
  padding: 0 24px;
  ion-title{
    padding: 0;
    font-size: 26px;
  }
}
iframe {
  width: 800px;
  max-width: 100%;
  min-height: 420px;
}
ion-toolbar{
  // --background: black;
}
ion-content{
  // --background: rgb(2,0,36);
  // --background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(13,13,13,1) 50%, rgba(13,13,13,0.6180847338935574) 100%);
}