

<ion-header>
  <ion-toolbar>
    <div id="head">
      <ion-title>
        <span style="color:#ff8bf4">Limit</span><span style="color:#8dc647">Swap</span>
      </ion-title>
      <ion-button>connect wallet</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" size="12"><app-pair-list (onSelectSymbol)="iframeTicker($event)" ></app-pair-list></ion-col>
      <ion-col sizeLg="8" size="12">
        <iframe [src]="url" style="border: none;"></iframe>
      </ion-col>
      <!-- <ion-col sizeLg="4" size="12"></ion-col> -->
    </ion-row>
  </ion-grid>

</ion-content>
